.container {
  height: 100%;
}

h2 {
  font-family: "Roboto";
  text-align: center;
}

h1 {
  font-family: "Roboto";
}

.footer-link:hover {
  color: yellow !important;
}

.people-link:hover {
  color: yellow;
}

.buySome:hover {
  color: #464646;
}

.position-fixed {
  z-index: 2000 !important;
}

.wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: auto 0px;
  height: 30px;
  width: 250px;
  padding-left: 0px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon {
  padding: 5px;
  margin-right: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0;
}
.icon a {
  width: 100%;
  height: 100%;
}
.icon img {
  display: block;
  position: static;
  width: 100%;
  height: 100%;
}

.input {
  border: 0;
  background: transparent;
  width: 0%;
  outline: none;
  font-family: "Roboto";
  font-weight: 400;
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.search-inp {
  border: 0;
  background: transparent;
  width: 0%;
  outline: none;
  font-family: "Roboto";
  font-weight: 400;
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.people-card {
  max-height: 415px;
  max-width: 330px !important;
}

.wrap .fa {
  color: #fff;
  right: 17px;
  top: 15px;
  font-size: 22px;
  cursor: pointer;
}

.lightBlue {
  background: #21F7EC;
  max-height: 80px;
  max-width: 80px;
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.green {
  background: #33D3BC;
  max-height: 80px;
  max-width: 80px;
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.purple {
  background: #D399FF;
  max-height: 80px;
  max-width: 80px;
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.red {
  background: #F94C43;
  max-height: 80px;
  max-width: 80px;
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.orange {
  background: #D38F62;
  max-height: 80px;
  max-width: 80px;
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.blue {
  background: #18A5C6;
  max-height: 80px;
  max-width: 80px;
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.white {
  color: white !important;
  text-decoration: none;
  white-space: nowrap;
}

.wrap.active {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 250px;
  padding-left: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.people-link {
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.search-inp.active {
  width: 98%;
  padding-left: 5px;
  -webkit-transition: all 0.5s 0.1s ease;
  transition: all 0.5s 0.1s ease;
}

.input-person {
  max-height: 39px;
  height: 39px;
  width: 203px !important;
  border: 1px solid #000000 !important;
}

.input-email {
  height: 39px;
  border: 1px solid #000000 !important;
  padding-left: 10px;
}

.button-subscribe {
  color: white !important;
}
.button-subscribe:hover {
  color: green !important;
}

.keepInTouch {
  width: 38%;
}

input::-webkit-input-placeholder {
  color: black;
}

input::-moz-placeholder {
  color: black;
}

input:-ms-input-placeholder {
  color: black;
}

input::-ms-input-placeholder {
  color: black;
}

input::placeholder {
  color: black;
}

form {
  width: 99%;
}

.fa .fa-search {
  position: absolute;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info {
  width: 50%;
}

.navbar {
  height: 75px !important;
}

header {
  background: #F0EFEB;
  height: 100%;
  padding-top: 90px !important;
}

.section2,
.section3,
.section4 {
  margin-top: 200px;
}

.gaid-includes {
  max-width: 705px;
}

@media screen and (max-width: 991px) {
  .icon {
    margin: 40px 0;
    height: 68px;
    width: 65px;
  }
  .input .active {
    padding-right: 100px;
  }
  .wrap {
    width: 100% !important;
  }
  .wrap.active {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .col-md-3 {
    max-width: 350px !important;
  }
  .people-card {
    height: 415px;
    width: 330px !important;
    margin: 0 auto;
    max-width: 100% !important;
  }
  .circle {
    height: 100px;
    width: 100px;
  }
  .footer-row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .keepInTouch {
    width: 90% !important;
  }
}
@media screen and (max-width: 1200px) {
  .input-person {
    max-height: 39px;
    height: 39px;
    width: 100% !important;
  }
}
.bg-light2 {
  background: rgba(204, 204, 204, 0.6);
}

.bg-light3 {
  background: rgba(108, 108, 108, 0.47);
}

.card {
  position: relative;
  width: 33% !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white !important;
  border: none;
  max-width: 330px !important;
  max-height: 520px !important;
  height: 520px !important;
}

.addedToCart {
  color: green;
}

.cart {
  background: #ffe2b4;
}

.face {
  width: 300px;
  height: 200px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.face1 {
  position: relative;
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.card:hover .face.face1 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
          box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
}

.face.face1 .content {
  opacity: 0.2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
  opacity: 1;
}

.content p {
  margin-top: 20px;
}

.face.face1 .content i {
  font-size: 3em;
  color: white;
  display: inline-block;
}

.face.face1 .content h3 {
  font-size: 1em;
  color: white;
  text-align: center;
}

.face.face1 .content a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.face.face2 {
  position: relative;
  background: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.card:hover .face.face2 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cart {
  min-height: 100vh;
}

.shopNow {
  text-decoration: none;
  color: white;
}

.cartEmpty {
  display: none !important;
}

.cartEmpty__active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media screen and (max-width: 992px) {
  .card,
.face.face2,
.face.face1 .content a,
.face.face1 .content h3,
.face.face1 .content i,
.face.face1 .content,
.card:hover .face.face1,
.face1,
.face {
    all: unset;
  }
  .card {
    height: 100% !important;
    padding: 20px;
    width: 75% !important;
  }
  .cardHolder {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
}